<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 先告诉浏览器这是一个移动端项目 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, userscalable=no">
    <title>移动端音乐台</title>
    <style type="text/css">
        /* 取消浏览器默认样式 */
        * {
            margin: 0;
            padding: 0;
        }
        html, body {
            height: 100%;
            overflow: hidden;
        }
        #wrap {
            height: 100%;
            background-color: gray;
        }
    </style>
</head>
<body>
    <div id="wrap">

    </div>
</body>
<script type="text/javascript">
    // 取消浏览器默认行为
    document.addEventListener('touchstart', function(event) {
        event.preventDefault();
    })
</script>
</html>