<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        #box {
            width: 50px;
            height: 50px;
            background: deepskyblue;
            /* transform:translateX(200px) scale(0.5); */
        }
    </style>
</head>
<body>
    <div id="box"></div>
</body>
<script type="text/javascript" src="../js/lib/util.js"></script>
<script type="text/javascript">
    var box = document.getElementById('box');
    transformCss(box, 'translateX', 200); // 写
    // transformCss(box, 'translateX'); // 读
    console.log(transformCss(box, 'translateX'))
</script>
</html>